$font-default: "Roboto", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$base-white: #ffffff;
$medium-grey: #bbc4d6;
$base-black: #121920;
$deep-grey: #768298;
$light-grey: #ebebf1;
